<f
  id="filters-container"
  fxLayout="column wrap"
  fxLayoutGap="10px"
>
  <div fxLayout="row" fxLayoutAlign.xs="space-between" fxLayoutAlign="" fxLayoutGap="20px">
    <div fxLayoutGap="20px" fxLayout="row">
      <button
        mat-raised-button
        color="primary"
        (click)="exportPDF()"
        class="action-button"
      >
        Exportar PDF
      </button>
    </div>

    <div fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column">
      <button
        (click)="selectSemester()"
        mat-raised-button
        color="primary"
        fxFlex
        class="action-button"
      >
        Filtrar Semestre
      </button>
    </div>
  </div>

  <!--<div fxLayoutAlign="end" id="search-container" fxFlex="50">
     <mat-form-field appearance="fill">
      <mat-label>Busca</mat-label>
      <input matInput type="text" />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field> 
  </div>-->

  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="active-filter-details">
      {{ (course$ | async).name }} -
      <span *ngIf="filters$ | async as filters"
        >{{ filters.year }} .{{ filters.semester }}</span
      >
    </div>
    <a href="#" (click)="logout()">Sair</a>
  </div>
</f>
