<div id="app-container" fxLayout="column" fxLayoutGap="30px">
  <app-loading *ngIf="loading$ | async"></app-loading>
  <header fxLayout="row" fxLayoutAlign="space-between center" >
    <h1>Cursos:</h1>
    <div (click)="logout()">Logout</div>
  </header>
  <div>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let course of (courses$ | async)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{course.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <ul>
            <li *ngIf="course.users.length === 0">Não há nenhum usuário cadastrado para esse curso.</li>
            <li *ngFor="let user of course.users">
             <span> Usuário: </span>{{user.name}} <span>E-mail:</span> {{user.email}}
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button
    mat-fab
    color="primary"
    aria-label="Adicionar curso"
    class="add-button"
    (click)="newCourse()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
