<div *ngIf="events$ | async as events" class="container">
    <div *ngFor="let event of events; let i = index">
        <h1>{{event.name}}</h1>
        <h3>{{event.location}}</h3>
        <h4>{{event.participants}} people</h4>
        <h4>{{event.description}}</h4>

        <div *ngIf="event.gallery && event.gallery.length > 0">
            <img *ngFor="let photo of event.gallery; let j =index" [src]="photo" [alt]="event.name" width="200px" (load)="print(event.gallery,  j, events,i)"/>
        </div>
    </div>
</div>