<div id="app-container" fxLayout="column" fxLayoutGap="30px">
  <app-loading *ngIf="loading$ | async"></app-loading>
  <header>
    <app-events-filters></app-events-filters>
  </header>
  <div>
    <table mat-table [dataSource]="events$ | async" class="events-table">
      <ng-container matColumnDef="eventName">
        <th mat-header-cell *matHeaderCellDef>Nome do evento</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="eventLocation">
        <th mat-header-cell *matHeaderCellDef>Local do evento</th>
        <td mat-cell *matCellDef="let element">{{ element.location }}</td>
      </ng-container>

      <ng-container matColumnDef="eventDate">
        <th mat-header-cell *matHeaderCellDef>Data do evento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date?.seconds * 1000 | date: "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="openDialog(row)"
      ></tr>
    </table>
  </div>
  <button mat-fab color="primary" aria-label="Adicionar evento" class="add-button" (click)="newEvent()">
    <mat-icon>add</mat-icon>
  </button>
</div>
