#gallery {
  overflow: scroll;
  margin-top: 10px;
}

@media only screen and (min-width: 350px) {
  #gallery {
    height: 125px;
  }
}

@media only screen and (max-width: 350px) {
  div ul#gallery {
    height: 100px;
  }
}

label {
  cursor: pointer;
  border: 1px dotted #ccc;
  padding: 6px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

#files {
  display: none;
}

ul li {
  margin-bottom: 10px;

  img {
    border: 1px solid #ccc;
    min-height: 50px;
  }

  span {
    cursor: pointer;
    color: black;
    text-decoration: underline;
  }
}
