<input
  type="file"
  (input)="uploadImage($event)"
  multiple="multiple"
  accept="image/*"
  id="files"
/>
<label for="files">Escolher imagens para upload</label>

<div *ngIf="!loading">
  <ul fxLayout="row wrap" id="gallery" *ngIf="(uploads$ | async).length > 0" fxLayoutGap="10px" fxLayoutAlign="center">
    <li *ngFor="let item of (uploads$ | async)" fxLayout="column" fxLayoutAlign="center center">
      <img src="{{ item }}" width="100px" />
      <span href="#" (click)="remove(item)">
        Remover
      </span>
    </li>
  </ul>
</div>

<div *ngIf="loading">
  Carregando...
</div>
