<input
  #fileInput
  type="file"
  multiple="multiple"
  accept="image/*"
  (change)="onFileChange($event.target?.files)"
/>

<div fxLayout="column" fxLayoutGap="12px">
  <button fxFlex type="button" mat-button (click)="fileInput.click()">
    <mat-icon>add_a_photo</mat-icon>
    <span>Selecionar</span>
  </button>
  <ng-container *ngIf="files.length">
    <mat-divider></mat-divider>
    <app-event-gallery-upload-item
      *ngFor="let item of files"
      [path]="folderName"
      [item]="item"
    ></app-event-gallery-upload-item>
  </ng-container>
</div>
